<!DOCTYPE html>
<html>
<head>
    <title>Tree View</title>
    <link rel="stylesheet" href="auto-former.css"/>
</head>
<body>
<p>(You can double click on an item to turn it into a folder.)</p>

<!-- the demo root element -->
<ul id="auto-former-root">
    <auto-form
            class="auto-former"
            :item="treeData"
            @make-folder="makeFolder"
            @add-item="addItem"
    ></auto-form>
</ul>

<script type="module">
    import Vue from '../../contrib/vue/vue@2.6.11.esm.browser.js'

    // window.on('load', ()=> {


    // demo data
    var treeData = {
        name: "My Tree",
        children: [
            { name: "hello" },
            { name: "wat" },
            {
                name: "child folder",
                children: [
                    {
                        name: "child folder",
                        children: [{ name: "hello" }, { name: "wat" }]
                    },
                    { name: "hello" },
                    { name: "wat" },
                    {
                        name: "child folder",
                        children: [{ name: "hello" }, { name: "wat" }]
                    }
                ]
            }
        ]
    };

    // define the auto-form component
    Vue.component("auto-form", {
        template: `<div class="block">
            <div class="title">
                <label>
                    {{ item.name }}
                </label>
                <span
                    class="expand"
                    v-if="children"
                    @click="toggle"
                >
                    [{{ isOpen ? '-' : '+' }}]
                 </span>
            </div>
            <div v-show="isOpen" v-if="children">
                <auto-form
                    v-show="isOpen"
                    v-if="children"
                    class="children"
                    v-for="(child, index) in item.children"
                    :key="index"
                    :item="child"
                ></auto-form>
            </div>
        </div>`,
                    // @make-folder="$emit('make-folder', $event)"
                        // @add-item="$emit('add-item', $event)"
                // <li class="add" @click="$emit('add-item', item)">+</li>
        props: {
            item: Object,
            index: String,
        },
        data: function() {
            return {
                isOpen: false
            };
        },
        computed: {
            children: function() {
                return this.item.children && this.item.children.length;
            }
        },
        methods: {
            toggle: function() {
                if (this.children) {
                    this.isOpen = !this.isOpen;
                }
            },
            makeFolder: function() {
                if (!this.children) {
                    this.$emit("make-folder", this.item);
                    this.isOpen = true;
                }
            }
        }
    });

    // boot up the demo
    var afInstance = new Vue({
        el: "#auto-former-root",
        data: {
            treeData: treeData
        },
        methods: {
            makeFolder: function(item) {
                Vue.set(item, "children", []);
                this.addItem(item);
            },
            // addItem: function(item) {
            //     item.children.push({
            //         name: "new stuff"
            //     });
            // }
        }
    });
</script>
</body>
</html>
